# Data Engineering & DB Connectors
pandas>=2.0.0
numpy>=1.23.0
requests
beautifulsoup4
SQLAlchemy
psycopg2-binary
python-dotenv

# Classical Statistics & Baseline
statsmodels
pmdarima
scikit-learn

# Advanced Forensics & EDA
matplotlib
seaborn
plotly

# Advanced Models (Comparative Analysis)
xgboost
torch

# Frontend
streamlit